#!/bin/bash
sudo yum -y update
sudo yum install -y httpd httpd-tools mod_ssl




myip=`curl http://169.254.169.254/latest/meta-data/local-ipv4`

cat <<EOF > /var/www/html/index.html
<!DOCTYPE html>
<html>
  <h2>Build by Power Trraform<font color="red"> Ver.1.11</font></h2><br>
  Owner ${f_name} ${l_name} <br>

  %{ for x in names ~}
  Hellow to ${x} from ${f_name} ${l_name}<br>
  %{ endfor ~}

</html>
EOF

sudo systemctl enable httpd
sudo systemctl start httpd
sudo chkconfig httpd on
